.Weather .search-city {
  justify-content: center;
  padding: 5px;
  margin: 0 auto;
}
.Weather .search-icon {
  padding: 11px 0 0;
  color: #5862c4;
  display: inline;
}
.Weather .searchButton {
  background: #5862c4;
  border: 1px solid #5862c4;
  margin: 0 10px;
}
.Weather .searchButton:hover {
  cursor: pointer;
  border: 1px solid #5862c4;
  color: white;
  background: #5862c4;
  opacity: 0.5;
}
.Weather .sorry {
  text-align: center;
}
